<h1>新規登録</h1>

<%= form_with model: @user, url: signup_path do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, required: true %>
  </div>
  <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, required: true %>
  </div>
  <div>
    <%= f.label :password_confirmation, "パスワード（確認）" %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>
  <%= f.submit "登録" %>
<% end %>

<%= link_to "ログインはこちら", login_path %>
